<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contactadmin.css">
   <link rel="icon" href="https://res.cloudinary.com/djs6fkhxl/image/upload/v1731568770/GIETU%20TRANSIT%20PORTAL/yuh4rxav1ymgl0rtjtlv.jpg" type="image/png">
    <title>Password Reset</title>
 
</head>
<body>
    <div class="container">
        <h1>Password Reset Required</h1>
        <p>If you need to reset your password, please contact the administrator for assistance.</p>
        <p class="contact-info">Contact Admin:
            <a href="mailto:23cseaiml116.keshabsharma@giet.edu?subject=Password%20Reset%20Request&body=Hello%20Admin,%0D%0AI%20need%20to%20reset%20my%20password.">23cseaiml116.keshabsharma@giet.edu</a>
       
        </p>
    </div>
</body>
</html>
