<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://res.cloudinary.com/djs6fkhxl/image/upload/v1731568770/GIETU%20TRANSIT%20PORTAL/yuh4rxav1ymgl0rtjtlv.jpg" type="image/png">
</head>
<body>
    <header>
        <!-- Top Purple Bar -->
        <div class="top-bar">
            <img src="https://res.cloudinary.com/djs6fkhxl/image/upload/v1725771042/giet-removebg-preview_egvpev.png" alt="GIETU Logo" class="logo">
            <h1 class="portal-title">GIETU TRANSIT PORTAL</h1>
            <img src="https://res.cloudinary.com/djs6fkhxl/image/upload/v1725738142/Flag_of_India_b2dqwp.png" alt="Indian Flag" class="flag">
        </div>
        
        <!-- Yellow Navigation Bar -->
        <nav class="navbar">
            <div class="datetime">
                <span id="date"></span> || <span id="time"></span>
            </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
                
            </ul>
        </nav>
  
    </header>

    <main>
       
        <button class="timetable-btn">BUS TIMETABLE</button>
        <table>
            <thead>
                <tr>
                    <th>BUS NUMBER</th>
                    <th>SCHEDULED ROUTE</th>
                    <th>SCHEDULED TIMING</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RANGEELA-16</td>
                    <td>GIET -> BN -> JJ -> TRENDZ</td>
                    <td>4:10</td>
                </tr>
                <tr>
                    <td>GIET BUS 12</td>
                    <td>GIET -> BN -> BYPASS -> GOPINATH</td>
                    <td>4:15</td>
                </tr>
                <tr>
                    <td>GIET BUS 9</td>
                    <td>GIET -> BN -> BYPASS -> OLD GUNUPUR</td>
                    <td>4:30</td>
                </tr>
                <tr>
                    <td>GIET BUS 7 (STAFF BUS)</td>
                    <td>GIET -> BN -> JJ</td>
                    <td>6:30</td>
                </tr>
            </tbody>
        </table>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>
